---
import Layout from '../components/Layout.astro'
import { getCollection } from 'astro:content';

const title = "Experienced engineer and Product Manager"
const blogPosts = await getCollection('drafts', ({ data }) => {
  return `${data.draft}` === import.meta.env.DRAFTS;
});
---

<h1>{title}</h1>
<Layout collection={blogPosts} title={title} />